
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --main-color: #0fcab4;
    --title-color: #242329;
    --description-color: #454545;
    --light-color: #BABABA;
    --bg-light: #F9F9F9;
}

*{
    font-family: 'Roboto', sans-serif;
}
body{
    background: #f1fbff;
}
.section-padding{
   padding: 100px 0; 
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    color: #fff;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    color: #fff;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar-brand{
    color: #000;;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #000;
}
.navbar-ight .navbar-nav .navbar-link{
    color: #000;
}
.w-100{
    height: 100vh;
}
 .card-body i{
    font-size: 30px;
}

 .team .card-body i{
    font-size: 15px;
}
.portafolio .card{
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
}
.team .card{
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
    margin-top: 30px;
}

.points{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #242329;
    font-weight: 700;
    font-size: 20px;
    line-height: 5px;
}
.btn {
    background-color: var(--main-color);
    border-radius: 50px;
    color: #ffffff;
    border: none;
    padding: 5px 38px;
    font-size: 16px;
    letter-spacing: 1px;
}
.btn:hover{
    background: #454545;
    color: #fff;
}
.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(24, 233, 24);
    margin-right: 10px;
  }

  .ofOn {
    margin-top: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    color: #68686a;
  }

@media screen and (min-width: 768px) and (max-width: 991px){
    .carousel-caption{
        bottom: 370px;
    }
    .carousel-caption p{
        width: 50px;
    }
    .card{
        margin-bottom: 30px;
        
    }
    .img-area img{
        width: 100%;
    }
  
    
}

@media screen and (max-width: 767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 125ps;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
       
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 17px;
        
    }
    .about-text{
        padding-top: 50px;
    }
    .card{
        margin-bottom: 30px;
        
    }
  
}